.enclosure-selected {
  padding: 0 30px 30px;
  border-bottom: 1px solid #b8c8d0;
}

.enclosure-selected-empty {
    font-style: italic;
}

.enclosure-selected-list {
    border: 1px solid #b8c8d0;
}

.enclosure-selected-item {
    position: relative;
}

.enclosure-selected-item > div {
    display: flex;
    align-content: center;
    border-bottom: 1px solid #b8c8d0;
}

.enclosure-selected-item > div > span {
    width: 18px;
    margin: 0 8px 0 0;
    position: relative;
    padding: 10px;
}

.enclosure-selected-item:last-child {
    border-bottom: 0;
}

.enclosure-selected-item button {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    background: #d73a49;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 11px;
    right: 10px;
}

.enclosure-selected-item div button span {
    width: 18px;
}
