<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Angular Zoo</a>

  <div class="navbar" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="data-binding" routerLinkActive="active">Data Binding</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a href dropdownToggle (click)="false" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Zoo</a>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="zoo-animal-form">Zoo Animal Form</a>
          <a class="dropdown-item" routerLink="enclosure-creator">Enclosure Creator</a>
        </div>
      </li>
    </ul>
  </div>
</nav>