<h2>Nested Property Binding</h2>

<h3>{{animal1.name}}</h3>
<div class="animal-description" [class.zebra]="isZebra(animal1)">
  {{animal1.description}}
</div>

<h3>{{animal2.name}}</h3>
<div class="animal-description" [class.zebra]="isZebra(animal2)">
  {{animal2.description}}
</div>

<hr>

<h3>{{animal1.name}}</h3>
<div class="animal-description" [style.fontSize]="isZebra(animal1) ? '2rem' : '1rem'">
  {{animal2.description}}
</div>

<h3>{{animal2.name}}</h3>
<div class="animal-description" [style.fontSize]="isZebra(animal2) ? '2rem' : '1rem'">
  {{animal2.description}}
</div>

<hr>

<button class="btn btn-primary" [attr.title]="isZebra(animal1) ? 'Zebra' : 'Not a zebra'">What am I?</button>
<button class="btn btn-primary" [attr.title]="isZebra(animal2) ? 'Zebra' : 'Not a zebra'">What am I?</button>