.animal-description {
    font-size: 1.5rem;
    font-weight: normal;
    color: blue;
}

.zebra {
    background: repeating-linear-gradient(
        -45deg,
        white,
        white 10px,
        darkgray 10px,
        darkgray 20px
      );
}