:host {
  display: flex;
  flex: 1 0 40%;
  background: rgb(226, 171, 103);
}

.enclosure-list {
  width: 100%;
  border-left: 1px solid #b8c8d0;
  padding: 30px;
}

.enclosure-list h2 {
    margin: -10px 0 20px;
    text-align: center;
    color: #005F32;
  }

.enclosure-list div {
    background: goldenrod;
    border-radius: 3px;
    margin: 0.5rem 0;
    padding: 1rem;
    color: #005F32;
  }

.enclosure-list div p {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
    }

.enclosure-list div span {
      font-size: 1rem;
      font-style: italic;
    }

