<app-nav></app-nav>

<router-outlet></router-outlet>

<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem">
      <a class="dropdown-item" href="#">Action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Something else here</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>

<div>
  <span class="fa fa-user-circle fa-2x"></span>
</div>



<a routerLink="">next</a>
<div class="container">
  <app-code-example [title]="'Interpolation'" [description]="'Evaluate an experssion between double curly braces. When the expression changes it will be re-evaluated.'">
    <div appCode ngNonBindable>
      <![CDATA[
{{expression}}

Animal: {{animal.name}}
      ]]>
    </div>
  </app-code-example>

  <app-code-example [title]="'Property Binding'" [description]="'Properties of the DOM bound to properties of the component. This includes element properties, component properties and directive properties'">
    <div appCode ngNonBindable>
    <![CDATA[
[property]="expression"

<img [src]="animal.imageUrl">
<animal-detail [animal]="currentAnimal"></animal-detail>
<div [ngClass]="selected: isSelected">Aardvark</div>
    ]]>
    </div>
  </app-code-example>

  <app-code-example [title]="'Property Binding'" [description]="'For attributes use attr. Use dots for nested properties. Attribute binding, class property binding, style property binding'">
    <div appCode ngNonBindable>
      <![CDATA[
<button [attr.aria-label]="ok">ok</button>
<div [class.isStopped]="isStopped">Stopped</div>
<button [style.color]="isStopped? 'red' : 'green'">Stopped</button>
      ]]>
    </div>
  </app-code-example>

  <app-code-example [title]="'Event Binding'" [description]="'Execute an expression when an event occurs. Element events and custom component events'">
    <div appCode ngNonBindable>
      <![CDATA[
(event-target)="statement"
      
<button (click)="save()">Save</button>
<animal-detail (changed)="animalChanged()"></animal-detail>
        ]]>
    </div>
  </app-code-example>

  <app-code-example [title]="'Two Way Binding'" [description]="'Combines property binding with event binding. Uses a built-in directive called ngModel'">
    <div appCode ngNonBindable>
      <![CDATA[
[()] Banana in a box
  
<input [(ngModel)]="animal.name">
          ]]>
    </div>
  </app-code-example>
</div>

Services for shared logic in an application
Just a class
Single instance
Provide it
Inject it
