<h1>Angular Overview</h1>
<h5 class="mb-3">
  See also Angular Fundamentals
  <a href="https://angular.io/guide/architecture" target="_blank">https://angular.io/guide/architecture</a>
</h5>
<app-collapse-card [title]="'Single Page Applications (SPAs)'">
  <ul>
    <li>
      An SPA is a web application that dynamically rewrites the current page rather than loading entirely new pages from a server.
    </li>
    <li>
      It avoids interruption between successive pages, making it behave more like a desktop application.
    </li>
    <li>
      Either all the necessary HTML, JavaScript, and CSS is retrieved with a single page load, or it's dynamically loaded and
      added to the page in response to user actions.
    </li>
    <li>
      The page never reloads nor does control transfer to another page. However, the HTML5 History API can be used
      to provide the perception of separate pages in the application.
    </li>
    <li>
      Interaction with an SPA usually involves dynamic communication with a web API behind the scenes.
    </li>
    <li>
      Modern JavaScript frameworks such as React, Vue, and Angular are designed to make creating SPAs much easier than writing in pure JavaScript or with libraries like jQuery.
    </li>
  </ul>
</app-collapse-card>

<app-collapse-card [title]="'Angular'">
  <ul>
    <li>
      Angular is written by Google and is designed to make it easier to build web applications.
    </li>
    <li>
      It's called Angular because HTML has angular brackets and Angular manipulates and adds to HTML elements as directives and
      components
    </li>
    <li>
      Angular (v2+) is not the same as AngularJS (v1) though it shares some similarities. Angular is a new framework that's just about
      one year old.
    </li>
    <li>
      Angular is heavily opinionated and a comprehensive framework. It integrates what its authors consider to be design best practices
      when building large, enterprise applications.
    </li>
    <li>
      More recently Angular is also being targeted at mobile (through Ionic and NativeScript). And desktop (through Node.js and
      Electron).
    </li>
    <li>
      Google have committed to supporting Angular and use it for some of its largest applications (e.g. AdWords)
    </li>
  </ul>
</app-collapse-card>

<app-collapse-card [title]="'Angular CLI'">
  <ul>
    <li>
      Standalone Angular applications are complex.
    </li>
    <li>
      The Angular CLI hides this complexity so you can focus on functionality.
    </li>
    <li>
      It encourages you to use best practices according to the Angular Style Guide
      <a href="https://angular.io/guide/styleguide" target="_blank">https://angular.io/guide/styleguide</a>.
    </li>
    <li>
      These are guidelines that make it easier to maintain the application as it grows.
    </li>
  </ul>
</app-collapse-card>

<app-collapse-card [title]="'TypeScript'">
  <ul>
    <li>
      TypeScript is a superset of JavaScript developed by Microsoft.
    </li>
    <li>
      Brings in useful features of current and future versions of JavaScript, which are not yet supported in web browsers.
    </li>
    <li>
      It compiles to JavaScript that can be run in a web browser.
    </li>
    <li>
      Embraced by Google for the development of Angular and is the recommended language for Angular development.
    </li>
  </ul>
</app-collapse-card>

<app-collapse-card [title]="'Angular Modules'">
  <ul>
    <li>
      The Angular framework and Angular applications you write have a modular architecture.
    </li>
    <li>
      Angular modules group together related sets of functionality.
    </li>
    <li>
      There is a single root module (usually called AppModule) that is run (bootstrapped) when the application starts.
    </li>
    <li>
      Angular modules are decorated with
      <code>@NgModule</code> where other modules are imported and application components are declared.
    </li>
  </ul>
</app-collapse-card>

<app-collapse-card [title]="'Components'">
  <ul>
    <li>
      Components are the basic building blocks of Angular functionality and user-interface.
    </li>
    <li>
      They belong to Angular modules.
    </li>
    <li>
      Follow similar approach to other JavaScript frameworks and modelled on the up-coming Web Components standard.
    </li>
    <li>
      Angular components are decorated with
      <code>@NgComponent</code> where the component selector, html template and css files are declared.
    </li>
    <li>
      Component approach is a UI design philosophy.
    </li>
    <li>
      Components are not created for reusability. They are created for clarity to break the application down into understandable
      parts.
    </li>
    <li>
      Features in the application should be composed of a component tree that reflects the UI structure.
    </li>
    <hr>
    <app-collapse-card [title]="'Component Tree'">
      <img src="/assets/reactive-zoo.png" style="width:100%;">
    </app-collapse-card>
  </ul>
</app-collapse-card>