<h1>Tooling</h1>
<ul class="list-group">

  <li class="list-group-item">
    <div class="d-flex p-2">
      <div>
        <img src="/assets/tools/node.png" width="190px">
      </div>
      <div class="ml-3">
        <h5>Download Node.js from
          <a href="https://nodejs.org" target="_blank">https://nodejs.org</a>
        </h5>
        <p>Node.js is an environment for executing JavaScript on the server (desktop).</p>
        <p>For windows, download the long term support release (LTS). The current version is 6.11.5</p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
      <div class="d-flex p-2">
        <div>
          <img src="/assets/tools/visual-studio-code.png" width="190px">
        </div>
        <div class="ml-3">
          <h5>Download Visual Studio Code from
            <a href="https://code.visualstudio.com/" target="_blank">https://code.visualstudio.com/</a>
          </h5>
          <p>A free, open-source code editor, which is easy to use and much lighter than Visual Studio.</p>
          <p>(Other editors are available)</p>
        </div>
      </div>
    </li>

  <li class="list-group-item">
    <div class="d-flex p-2">
      <div>
        <img src="/assets/tools/angular-cli.png" width="190px">
      </div>
      <div class="ml-3">
        <h5>Install the Angular CLI</h5>
        <p>The Angular Command Line Interface (CLI) is software that runs on Node.js</p>
        <p>Node Package Manager is how you install it and all other Node.js software</p>
        <p>Run Node Package Manager (npm) on the command line:</p>
        <pre class="p-2">> npm install -g '@angular-cli'</pre>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex p-2">
      <div>
        <img src="/assets/tools/angular-cli.png" width="190px">
      </div>
      <div class="ml-3">
        <h5>Create a new project with the Angular CLI</h5>
        <p>... and run it.</p>
        <pre class="p-2">
> ng new angular-zoo
> cd angular-zoo
> ng serve --open</pre>
            
      </div>
    </div>
  </li>

  <li class="list-group-item">
      <div class="d-flex p-2">
        <div>
          <img src="/assets/tools/visual-studio-code.png" width="190px">
        </div>
        <div class="ml-3">
          <h5>Open the project in Visual Studio Code to edit it</h5>
          <pre class="p-2">
  > code .</pre>
        </div>
      </div>
    </li>
</ul>