<h1 class="text-center">
  An Introduction to Angular Development
</h1>
<div class="row">
  <div class="col-2 offset-5">
     <div class="text-center">
    <img class="mx-auto d-block" src="/assets/angular.svg">
    </div>
  </div>
</div>

<div class="card text-center mt-2">
  <div class="card-body">
    Code available at <a href="https://github.com/andyb-esdm/angular-zoo" target="_blank">https://github.com/andyb-esdm/angular-zoo</a>
  </div>
</div>

<ol class="list-group mt-2">
    <li class="list-group-item list-group-item-action">Tooling</li>
    <li class="list-group-item list-group-item-action">Overview: SPAs, Angular, Modules, Components</li>
    <li class="list-group-item list-group-item-action">Data binding</li>
    <li class="list-group-item list-group-item-action">Forms</li>
    <li class="list-group-item list-group-item-action">Services</li>
    <li class="list-group-item list-group-item-action">Routing</li>
    <li class="list-group-item list-group-item-action">Deployment</li>
</ol>
