<h1 class="text-center">
  An Introduction to Angular Development
</h1>
<div class="row">
  <div class="col-4 offset-4">
     <div class="text-center">
    <img class="mx-auto d-block" src="/assets/angular.svg">
    </div>
  </div>
</div>
<ul>
  <li>SPAs, JavaScript Frameworks, Angular</li>
  <li>Tooling</li>
  <li>Modules, Components, Directives, Structural Directives</li>
  <li>Data binding</li>
  <li>Forms</li>
  <li>Services</li>
  <li>Deployment</li>
</ul>
<h2>What is a Single Page Application (SPA)?</h2>
<p>
   A single-page application (SPA) is a web application or web site that interacts with the user by dynamically rewriting the
  current page rather than loading entire new pages from a server. This approach avoids interruption of the user experience
  between successive pages, making the application behave more like a desktop application. In an SPA, either all necessary
  code – HTML, JavaScript, and CSS – is retrieved with a single page load, or the appropriate resources are dynamically
  loaded and added to the page as necessary, usually in response to user actions. The page does not reload at any point in
  the process, nor does control transfer to another page, although the location hash or the HTML5 History API can be used to
  provide the perception and navigability of separate logical pages in the application.[2] Interaction with the single page
  application often involves dynamic communication with the web server behind the scenes.
</p>
<h2>What is Angular?</h2>
<p>
   Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency
  injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers
  to build applications that live on the web, mobile, or the desktop
</p>
<p>It's called Angular because HTML has angular brackets and Angular manipulates and adds to HTML elements as directives and components</p>

